<h1> <%= @genetic.strain %></h1>
</br>
<%= @genetic.native_location %>
</br>
<%= @genetic.thc_content %>
</br>
<%= link_to "Edit", edit_genetic_path(@genetic) %> | <%= link_to "Delete", genetic_path(@genetic), method: :delete, data: {confirm: "Are you sure?"} %> | <%= link_to "Back", genetics_path %>
